<form action="/tweets/<%=@tweet.id%>/edit" method="post">
  <h1>Edit Tweet</h1>
  <div class="form-group">
    <input type="text" name="content" value="<%=@tweet.content%>"
  </div>
  <input class="btn btn-lg btn-primary" type="submit" value="Submit" id="submit">
</form>
